.form-wrapper {
    width: 100%;
    background-color: #897bda;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.form-label {
    font-size: 1rem;
    font-weight: 600;
}

.form-button {
    display: flex;
    justify-content: flex-end;
}

.form-button button {
    margin-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}