.my-header {
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    height: 70px;
    font-size: 20px;
    font-weight: 500;
}